body {
  font-family: "Cabin", sans-serif;
  background: #f3f3f3;
  line-height: 1.5;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
  background-color: transparent;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  background: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}

h1 {
  color: blue;
  font-size: 24px;
  font-weight: 100;
  text-align: left;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: black;
  font-size: 20px;
  font-weight: 100;
  margin: 0;
  padding: 0;
  text-align: left;
}

li::first-letter {
  text-transform: capitalize;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 10px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: blue;
  font-size: 50px;
  font-weight: 400;
}

.weather-temperature .units {
  font-size: 16px;
  position: relative;
  top: -10px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: auto;
}

.weather-forecast-date {
  font-size: 16px;
  color: black;
  opacity: 0.5;
}

.weather-forecast-temperature {
  font-size: 20px;
  color: black;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}
